# V24 Reading and Writing text files

In [1]:
import numpy as np
import pandas as pd
from pandas import Series , DataFrame

In [10]:
dframe=pd.read_csv('./documents/lec24.csv')
dframe

   1  2  3  4 ramin
0  5  6  7  8   ali
1  1  4  2  9  reza

In [11]:
 dframe=pd.read_csv('./documents/lec24.csv',header=None)
dframe

   0  1  2  3      4
0  1  2  3  4  ramin
1  5  6  7  8    ali
2  1  4  2  9   reza

In [12]:
dframe=pd.read_table('./documents/lec24.csv',sep=',',header=None)
dframe

   0  1  2  3      4
0  1  2  3  4  ramin
1  5  6  7  8    ali
2  1  4  2  9   reza

In [13]:
pd.read_csv('./documents/lec24.csv',header=None,nrows=2)

   0  1  2  3      4
0  1  2  3  4  ramin
1  5  6  7  8    ali

In [18]:
dframe.to_csv('./documents/mytextData_out.csv',sep='_')

In [20]:
#for illustrating output here :
import sys
#for seperating with other delimiters ==> sep="_"

In [22]:
dframe.to_csv('./documents/mytextData_out.csv',sep=',')

In [16]:
dframe.to_csv(sys.stdout)

,0,1,2,3,4
0,1,2,3,4,ramin
1,5,6,7,8,ali
2,1,4,2,9,reza

In [23]:
dframe.to_csv(sys.stdout,sep='?')

?0?1?2?3?4
0?1?2?3?4?ramin
1?5?6?7?8?ali
2?1?4?2?9?reza

In [31]:
dframe.to_csv(sys.stdout,columns=[0,2])

,0,2
0,1,3
1,5,7
2,1,2

In [30]:
dframe.to_csv(sys.stdout,index=(1))

,0,1,2,3,4
0,1,2,3,4,ramin
1,5,6,7,8,ali
2,1,4,2,9,reza

In [ ]:
#check out pythons built-in csv reader and writer for more info:
# https://docs.python.org/2/library/csv.html